body{
    background-color: 	#ffb805;
    background-image:url(images/background.jpg);
    text-align:center;
}
.menu1{
    list-style-type: none;
}
.sub{
    float:left;
}
a:link,a:visited{
    color:white;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 5px;
    border-radius: 5px;
}
a:hover,a:active{
    color:white;
    background-color: gray;
    font-size: 20px;
}
#header{
    width:1000px;
    height:130px;
    margin-left:auto;
    margin-right:auto;
    background-color:  	#ffc905;
}
#content {
    clear: both;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color:#ffe505;
}
#left {width:500px;float: left;}
#right {width:500px;float: right;}
#footer{
    width: 1000px;
    padding: 10px;
    margin-left: auto;
    margin-right:  auto;
    background-color:  	#ffc905;
    clear: both;
}
.cap{
    font-family:Impact;
    font-size:50px;
    font-variant:small-caps;
    letter-spacing:5px;
    text-shadow:30px 36px 10px;
}
.clear { clear: both }